  <agm-map [latitude]="lat" [longitude]="lng" *ngIf="showMap">
  <agm-direction [origin]="origin" [destination]="destination" [renderOptions]="renderOptions" [markerOptions]="markerOptions"
  [travelMode]="travelMode" [optimizeWaypoints]="optimizeWaypoints" [avoidFerries]="avoidFerries" [provideRouteAlternatives]="provideRouteAlternatives"></agm-direction>
</agm-map>  



<button title="With Route" (click)="showMapWithRouteClick()">Show Map With Route</button>
<app-map-route-marker *ngIf="showMapWithRoute"></app-map-route-marker>